# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.eggs/

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Source code
/source
